/* Min Width Responsive Start From Here */
@media (min-width: 420px) {
    .col-xs-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xs-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xs-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xs-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xs-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xs-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xs-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xs-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-xs-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-xs {
        flex: 1 0 0%;
    }
}

@media (min-width: 576px) {
    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm {
        flex: 1 0 0%;
    }
}

@media (min-width: 768px) {

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .laptop-video video {
        top: 15px;
        width: 185px;
        height: 117px;
        object-fit: cover;
    }

    .responsive-laptop {
        width: 695px;
    }

    .laptop-video video {
        top: 39px;
        width: 467px;
        height: 294px;
        object-fit: cover;
    }

    .hero-section {
        padding-top: 90px;
    }

    .col-md {
        flex: 1 0 0%;
    }
}

@media (min-width: 992px) {

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .laptop-video video {
        top: 25px;
        width: 307px;
        height: 192px;
        object-fit: cover;
    }

    .hero-section p {
        font-size: 16px;
    }

    .breadcrumb .breadcrumb-item {
        font-size: 16px;
    }

    .responsive-laptop {
        width: 455px;
    }

    .col-lg {
        flex: 1 0 0%;
    }
}

@media (min-width: 1200px) {

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-xl-custom {
        flex: 0 0 auto;
        width: 20%;
    }

    .responsive-laptop {
        width: 545px;
    }

    .laptop-video video {
        top: 29px;
        width: 368px;
        height: 231px;
        object-fit: cover;
    }

}

@media (min-width: 1400px) {}


/* Max Width Responsive Start From Here */
@media (max-width: 1499.98px) {}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
    #main-menu>ul>li>a {
        padding: 8px 16px;
        font-size: 16px;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {

    .btn-primary {
        font-size: 14px;
        padding: 5px 15px;
    }

    .header {
        border-radius: 0 0 10px 10px;
    }
}

@media (max-width: 575.98px) {
    .scrollTop {
        display: none !important;
    }

    .promo-minimized i {
        right: 3px;
    }

    .btn-cat {
        font-size: 14px;
        padding: 8px 10px 6px;
    }

    .promo-minimized i {
        right: 3px;
    }
}